:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --star-gold-color: #FDD836;
    --border-color: #bdbdbd;
    --header-height: 120px;
    --navbar-height: 34px;
    --header-width-search-height: calc(var(header-height) - var(navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}


/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}


/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}


/* Header with search */


/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    animation: growth linear 0.1s;
}


/* Button-style */

.btn {
    height: 36px;
    min-width: 124px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.3rem;
    outline: none;
    color: var(--text-color);
    padding: 0 12px;
    cursor: pointer;
    line-height: 1.6rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}


/* Selection */

.select-input {
    height: 36px;
    min-width: 202px;
    background-color: var(--white-color);
    padding: 0 12px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 0 1px #ccc;
    box-shadow: 0 1px 1px rgb(238, 230, 230);
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__label {
    font-size: 1.4rem;
    color: #555;
}

.select-input__icon {
    font-size: 1.5rem;
    margin-bottom: 4px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 9px);
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    border-radius: 2px;
    display: none;
    box-shadow: 0 1px 1px rgb(0 0 0 / 30%);
}

.select-input__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 10px 0;
    display: block;
}

.select-input__link:hover {
    color: var(--primary-color);
}

.pagination {
    display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   list-style: none;
   margin: 20px 0 60px;
   line-height: 1.8rem;
   padding-left: 0;
}

.pagination-item {
   margin: 0 16px;
}

.pagination-item--active .pagination__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active:hover .pagination__link {
  color: var(--white-color);
}

.pagination__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.pagination__link:hover {
   color: var(--primary-color);
}

