/* ================= Mobile & Tablet ============== */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0px;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list:before {
        display: none;
    }
    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    .header__sort-bar {
        display: flex;
    }
    .app__content {
        padding-top: 8px;
    }
    .mobile-category {
        display: block;
    }
}

/* ================= Tablet =============== */
@media (min-width: 740px) and (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .hide-on-tablet {
        display: none;
    }
    .footer {
        padding-bottom: 30px;
    }
    .header__cart {
        width: 80px;
        text-align: right;
    }
}

/* ================= Mobile =============== */
@media (max-width: 739px) {
    :root {
        --header-height: 54px;
        --navbar-height: 0px;
    }
    .hide-on-mobile {
        display: none;
    }
    .header-with-search {
        justify-content: space-between;
    }
    .header__cart,
    .header__logo {
        width: unset;
    }
    .header__search {
        z-index: 1;
        position: fixed;
        left: 0;
        right: 0;
        top: var(--header-height);
        height: 46px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
        border: 1px solid #ccc;
        padding: 0 16px;
        animation: MobileSearchSideIn linear 0.3s;
    }
    .header__search-history {
        position: fixed;
        left: 0;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        animation: var(--transition);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .pagination-item {
        margin: 0;
    }
    .pagination__link {
        min-width: 36px;
        font-size: 1.6rem;
        --height: 28px;
    }

    .app__content {
        margin: 0 4px;
    }
    .header__mobile-search {
        display: block;
    }
    .header__logo-img {
        width: 110px;
    }
    .footer-mobile-center1 {
        text-align: center;
        position: relative;
        display: block;
    }
    .footer-item {
        margin: 10px 0;
    }
    .footer-list img {
        margin: auto;
    }
    .footer-item__img-pay-shopee {
        width: 200px;
        height: 90px;
    }
    @keyframes MobileSearchSideIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}